<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center" style="background: grey">
        <h2>Login Here</h2>
      </div>

      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login(email.value,password.value)">
          <div class="form-group">
            <label for="email">Email</label>
            <input placeholder="enter email" id="email" class="form-control" [(ngModel)]="customerEmail"
              [ngClass]="{ 'is-invalid': email.touched && email.invalid }" name="email" #email="ngModel"
              [(ngModel)]="login2.email" required />
            <span class="invalid-feedback">Email Id can't be blank.</span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input placeholder="enter password" type="password" id="password" name="password" class="form-control"
              [ngClass]="{ 'is-invalid': password.touched && password.invalid }" #password="ngModel"
              [(ngModel)]="login2.password" required />
            <span class="invalid-feedback">Password can't be blank.</span>
          </div>



          <div class="Button" style="text-align: center;">
            <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">
              Login</button>&nbsp;
            <button class="btn btn-primary" routerLink="/Adigas">back</button><br>

            <br>
          </div>
          Haven't registerd yet!<a href="/register">click here</a>
        </form>
      </div>
    </div>
  </div>
</div>