<footer class="page-footer font-small special-color-dark pt-4" style="background: linear-gradient(blue, white)">

  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-pinterest"></a>
      <a href="#" class="fa fa-facebook"></a>
    </ul>
  </div>

  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://resteasy.com/"> <b>RestEasy.com</b></a>
  </div>


</footer>